.dashboard .block {
  border: 1px solid var(--color-gray-100);
  margin-inline-end: var(--space-l);
  margin-block-end: var(--space-l);
  padding: var(--space-l);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.dashboard .block h2 {
  font-size: var(--font-size-h3);
  margin-top: 0;
}

.dashboard .layout__region:last-child .block {
  margin-inline-end: 0;
}

/* @todo we might want to modify the markup to replaces these workarounds */
.dashboard .block .card {
  all: revert;
}
.dashboard .system-status-general-info__item {
  width: auto;
}
